# .NET
bin/
obj/
*.user
TestResults/
# Unity
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/[Ll]ogs/
unity/[Uu]ser[Ss]ettings/
unity/*.csproj
unity/*.sln
unity/*.apk
unity/*.aab
# secrets
google-services.json
GoogleService-Info.plist
*.keystore
.env
